@import '~@fluentui/react/dist/sass/References.scss';

.taskCalendar {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
}

.navigator {
  font-size: 1.5em;
  font-weight: 600;
}

.calendarTable {
  border-collapse: collapse;
    margin: 1em 0;
    font-size: 0.9em;
    font-weight: 400;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.calendarTable thead tr {
  background-color: "[theme: themeLighter]";
  text-align: center;
} 

.calendarTable th,
.calendarTable td {
  border: 1px solid lightgrey;
  padding: 5px;
}
.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}