@import '~@fluentui/react/dist/sass/References.scss';

.taskCalendar {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
}

.navigator {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1em;
  text-align: center;
}
.calendarTableWrapper {
  width: 100%;
  overflow-x: auto; 
}

.calendarTable {
  border-spacing: 0.3em; 
  margin: 1em 0;
  font-size: 1em; 
  font-weight: 400;
  width: 100%;
}

.calendarTable thead tr {
  background-color: "[theme: themeLighter]";
  text-align: center;
  font-weight: bold; 
  text-transform: uppercase; 
  letter-spacing: 0.05em;
}

.calendarTable th,
.calendarTable td {
  border: 1px solid lightgrey;
  padding: 8px;
  text-align: center; 
}

.weekCell {
  background: "[theme: themePrimary]";
}

.addTask {
  display: flex;
  align-items: center;
}